<p class="lead">
Ruta por parámetro, no requiere ninguna configuración especial actualmente. Sólo indicar la confiuracion en el app.routes
</p>

<div  *ngIf="parametroRuta" class="mb-5">
  <p>El parámetro de la ruta es {{parametroRuta }}</p>
  <button class="btn btn-primary" [routerLink]="['editar']" routerLinkActive="active" >subruta Editar</button>
  <button class="btn btn-primary" [routerLink]="['nuevo','lo que sea']" routerLinkActive="active" >SubRuta Nuevo</button>

  <router-outlet></router-outlet>
  
</div>


